SebProject/Service References/InterestRateService/InterestRateService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceModels.CustomerDetailsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agreements" nillable="true" type="tns:ArrayOfServiceModels.AgreementDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceModels.CustomerDetailsModel" nillable="true" type="tns:ServiceModels.CustomerDetailsModel" />
  <xs:complexType name="ArrayOfServiceModels.AgreementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceModels.AgreementDTO" nillable="true" type="tns:ServiceModels.AgreementDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceModels.AgreementDTO" nillable="true" type="tns:ArrayOfServiceModels.AgreementDTO" />
  <xs:complexType name="ServiceModels.AgreementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Margin" type="xs:decimal" />
      <xs:element minOccurs="0" name="PersonaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceModels.AgreementDTO" nillable="true" type="tns:ServiceModels.AgreementDTO" />
  <xs:complexType name="ServiceModels.AgreementForRate">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgreementId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceModels.AgreementForRate" nillable="true" type="tns:ServiceModels.AgreementForRate" />
  <xs:complexType name="ServiceModels.InterestRates">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="SecondRate" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceModels.InterestRates" nillable="true" type="tns:ServiceModels.InterestRates" />
  <xs:complexType name="ServiceModels.CustomerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonalId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceModels.CustomerDTO" nillable="true" type="tns:ServiceModels.CustomerDTO" />
</xs:schema>