SebProject/Service References/InterestRateService/InterestRateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InterestRateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65102/InterestRateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65102/InterestRateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65102/InterestRateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInterestRateService_GetAgreements_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgreements" />
  </wsdl:message>
  <wsdl:message name="IInterestRateService_GetAgreements_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgreementsResponse" />
  </wsdl:message>
  <wsdl:message name="IInterestRateService_GetCalculatedInterestRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculatedInterestRates" />
  </wsdl:message>
  <wsdl:message name="IInterestRateService_GetCalculatedInterestRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalculatedInterestRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IInterestRateService_CreateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomer" />
  </wsdl:message>
  <wsdl:message name="IInterestRateService_CreateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IInterestRateService_CreateAgreement_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAgreement" />
  </wsdl:message>
  <wsdl:message name="IInterestRateService_CreateAgreement_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAgreementResponse" />
  </wsdl:message>
  <wsdl:portType name="IInterestRateService">
    <wsdl:operation name="GetAgreements">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestRateService/GetAgreements" message="tns:IInterestRateService_GetAgreements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestRateService/GetAgreementsResponse" message="tns:IInterestRateService_GetAgreements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalculatedInterestRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestRateService/GetCalculatedInterestRates" message="tns:IInterestRateService_GetCalculatedInterestRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestRateService/GetCalculatedInterestRatesResponse" message="tns:IInterestRateService_GetCalculatedInterestRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestRateService/CreateCustomer" message="tns:IInterestRateService_CreateCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestRateService/CreateCustomerResponse" message="tns:IInterestRateService_CreateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAgreement">
      <wsdl:input wsaw:Action="http://tempuri.org/IInterestRateService/CreateAgreement" message="tns:IInterestRateService_CreateAgreement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInterestRateService/CreateAgreementResponse" message="tns:IInterestRateService_CreateAgreement_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInterestRateService" type="tns:IInterestRateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAgreements">
      <soap:operation soapAction="http://tempuri.org/IInterestRateService/GetAgreements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalculatedInterestRates">
      <soap:operation soapAction="http://tempuri.org/IInterestRateService/GetCalculatedInterestRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCustomer">
      <soap:operation soapAction="http://tempuri.org/IInterestRateService/CreateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAgreement">
      <soap:operation soapAction="http://tempuri.org/IInterestRateService/CreateAgreement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterestRateService">
    <wsdl:port name="BasicHttpBinding_IInterestRateService" binding="tns:BasicHttpBinding_IInterestRateService">
      <soap:address location="http://localhost:65102/InterestRateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>